.form-review {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  gap: 20px;
}

.input-form-review {
  height: 2em;
}

@media (max-width: 900px) {
  .form-review {
    width: 90%;
  }
}
