.popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.X-container {
  position: relative;
  height: 30%;
}

.X {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  padding: 20px;
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
.menu-container {
  padding: 25px 0px 0px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.popup-menu a {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: none;
}

.popup-menu a:hover {
  text-decoration: underline;
}

.items-style {
  text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black,
    -1px 1px 0px black;
}
