.movie {
  background-color: rgb(206, 206, 206);
  padding: 0.5em;
  border: 1px solid rgb(156, 155, 155);
}

.genre-fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.movie-title {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 10px;
}

.movie-image {
  height: 30em;
  width: 25.5em;
}

@media (max-width: 650px) {
  .movie-image {
    height: 21em;
    width: 17.5em;
  }
}
