.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 0px 15px 20px 15px;
  border: 1px solid gray;
  width: 45%;
  border-radius: 5px;
}

.title-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.review-rating {
  color: #000000;
  padding: 0.5em;
  border: solid 1px black;
  background-color: #dbdbdb;
}

.review-author {
  font-style: italic;
  color: rgb(78, 78, 78);
}

@media (max-width: 850px) {
  .review-card {
    width: 90%;
  }
}
